body{
    padding: 0;
    margin:0;
}

.dad{
    width: 500px;
    height:500px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
}